* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  background: white;
  min-height: 90vh;
  width: 90%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(0.5rem);
  border: 1.4px solid whitesmoke;
}
.circle1, .circle2 {
    background: white;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  position: absolute;
}
.circle1 {
    top: 5%;
    right: 10%;
}
.circle2 {
    bottom: 5%;
    left: 10%;
}

.grid-container {
    display: grid;
    background-color: rgb(190, 221, 190);
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
    padding: 2em;
    margin: 2em;
}

.column-left {
    display: grid;
    border: 2px solid salmon;
    grid-template-rows: auto auto auto;
    text-align: center;
}
.column-right {
    border: 2px solid seashell;
    display: grid;
    grid-template-columns: repeat(5, auto);
}
.row2 {
    display: flex;
    justify-content: center;
}
.magic-ball {
    width: 20em;
    height: 20em;
    background-color: slateblue;
    background: linear-gradient(
    to right bottom,
    rgba(106, 90, 205, 1),
    rgba(106, 90, 205, 0.05)
  );
  border: 5px solid slateblue;
    border-radius: 50%;
}
.cards {
    background-color: rgb(151, 169, 184);
}
